.button {
  padding: 10px 0;
  font-family: $font-secondary;
  color: $color-button;
  background-color: $color-main;
  font-size: 16px;
  line-height: 20px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $color-main-hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--secondary {
    background-color: #f2f2f2;
    color: #444444;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      background-color: #ebebeb;
      color: rgba($color: #444444, $alpha: 0.3);
    }
  }

  &--hero {
    font-size: 14px;
    line-height: 18px;
    padding: 7px 0;

    @media (min-width: $width-tablet) {
      padding: 14px 26px;
      display: inline-block;
      width: auto;
      font-size: 20px;
      line-height: 20px;
    }
  }
}
