.copyright {
  padding: 22px 0;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $width-tablet) {
    padding: 0;
  }
}

.copyright__icon {
  fill: #666666;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover .copyright__icon {
    fill: $color-main;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__name {
  @media (min-width: $width-tablet) {
    margin-right: 22px;
  }
}
