.example {
  padding: 27px 0 37px 0;
  background-color: $color-example-home;

  @media (min-width: $width-tablet) {
    padding: 43px 0 58px 0;
    background: linear-gradient(to top, $color-example-home 465px, #ffffff 465px 100%);
  }

  @media (min-width: $width-desktop) {
    padding: 0 0 65px 0;
    background: linear-gradient(to bottom, #ffffff 170px, #f2f2f2 170px 100%);
  }

  &--home {
    @media (min-width: $width-tablet) {
      border-top: 1px solid #e6e6e6;
    }

    @media (min-width: $width-desktop) {
      border-top: none;
    }
  }
}

.example__body {
  @media (min-width: $width-desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.example__title {
  margin: 0 0 43px 0;

  @media (min-width: $width-tablet) {
    margin: 0 0 63px 0;
  }

  @media (min-width: $width-desktop) {
    padding: 31px 0 0 0;
    margin: 0 0 146px 0;
    width: 100%;
  }
}

.example__info {
  margin-bottom: 37px;

  @media (min-width: $width-desktop) {
    margin-bottom: 0;
  }
}

.example__description {
  margin: 0 0 20px 0;

  @media (min-width: $width-tablet) {
    margin: 0 0 54px 0;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $width-desktop) {
    margin: 0 0 70px 0;
    max-width: 436px;
  }
}

.example__stats {
  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $width-desktop) {
    display: block;
  }
}

$line-height: 12px;
$line-height-tablet: 14px;

.example__stats-list {
  margin: 0 0 (20px + $line-height) 0;
  padding: 0;
  display: flex;
  justify-content: space-between;

  @media (min-width: $width-tablet) {
    margin: 0 0 50px 0;
    justify-content: start;
  }
}

.example__stat {
  padding: 14px 0 18px 0;
  width: 124px;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: center;

  @media (min-width: $width-tablet) {
    padding: 12px 0 18px 0;
    width: 162px;
  }

  &:not(:last-child) {
    @media (min-width: $width-tablet) {
      margin-right: 42px;
    }
  }
}

.example__stat-term {
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__stat-description {
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  z-index: 1;
  font-size: 12px;
  line-height: $line-height;
  bottom: -14px;
  left: 0;
  text-align: center;

  @media (min-width: $width-tablet) {
    bottom: -0.5 * $line-height-tablet;
  }
}

.example__stat-text {
  padding: 0 14px;
  width: 60px;
  display: inline-block;
  background: $color-example-home;

  @media (min-width: $width-tablet) {
    padding: 0 8px;
    width: auto;
    background: #ffffff;
    font-size: 14px;
    line-height: $line-height-tablet;
  }

  @media (min-width: $width-desktop) {
    background: $color-example-home;
  }
}

.example__costs {
  margin: 0;
  text-align: center;
  font-family: $font-secondary;
  color: $color-title;
  text-transform: uppercase;
  line-height: 20px;

  @media (min-width: $width-tablet) {
    padding: 11px 0 0 0;
    text-align: right;
    font-size: 20px;
    max-width: 175px;
  }

  @media (min-width: $width-desktop) {
    min-width: 327px;
    display: flex;
    justify-content: space-between;
    max-width: fit-content;
  }
}

.example__costs-text {
  @media (min-width: $width-tablet) {
    margin: 0 0 9px 0;
    display: inline-block;
  }
}
