.hero {
  padding: 27px 0 0 0;
  background: image-set(url("../img/hero/hero-mobile.webp") 1x, url("../img/hero/hero-mobile-2x.webp") 2x) no-repeat top center,
    linear-gradient(to bottom, transparent 302px, #ffffff 302px 100%),
    linear-gradient(90deg, #63a73b 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, #62a53a  50%);

  @media (min-width: $width-tablet) {
    padding: 0;
    background: none;
  }

  @media (min-width: $width-desktop) {
    max-width: $container-desktop;
    margin: 0 auto;
    background: none;
  }
}

.hero__body {
  background: url("../img/hero/can.webp") no-repeat center bottom 43px;
  background-size: 280px 270px;

  @media (min-resolution: 2dppx) {
    background: url("../img/hero/can-2x.webp") no-repeat center bottom 43px;
    background-size: 280px 270px;
  }

  @media (min-width: $width-tablet) {
    padding: 66px 0 526px 90px;
    box-sizing: border-box;
    background: url("../img/hero/can-tablet.webp") no-repeat center bottom;
    background-size: 709px 609px;

    @media (min-resolution: 2dppx) {
      background: url("../img/hero/can-tablet-2x.webp") no-repeat center bottom;
      background-size: 709px 609px;
    }
  }

  @media (min-width: $width-desktop) {
    padding: 111px 506px 185px 80px;
    display: inline-block;
    background: url("../img/hero/can-desktop.webp") no-repeat right 5px bottom 55px;

    @media (min-resolution: 2dppx) {
      background: url("../img/hero/can-desktop-2x.webp") no-repeat right 5px bottom 55px;
      background-size: 552px 499px;
    }
  }
}

.hero__title {
  margin: 0 0 25px 0;
  text-align: center;
  color: #ffffff;
  padding: 0;
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $width-tablet) {
    margin: 0 0 41px 0;
    text-align: left;
    color: $color-title;
    max-width: 420px;
    font-size: 60px;
    line-height: 60px;
  }
}

.hero__slogan {
  margin: 0 0 298px 0;
  padding: 0;
  text-align: center;
  font-family: $font-secondary;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: $width-tablet) {
    margin: 0 0 49px 0;
    color: $color-title;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    max-width: 420px;
  }

  @media (min-width: $width-tablet) {
    margin: 0 0 52px 0;
  }
}

.hero__link {
  padding: 11px 0;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $width-tablet) {
    padding: 17px 26px;
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
  }
}
