.social {
  padding: 20px 0 19px 0;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;

  @media (min-width: $width-tablet) {
    padding: 0 0 0 20px;
    border-bottom: none;
  }

  @media (min-width: $width-desktop) {
    padding: 0 0 0 25px;
  }
}

.social__link {
  display: inline-flex;
  align-items: center;
  min-width: 28px;
  min-height: 22px;

  &:active {
    opacity: 0.3;
  }

  &:active .social__icon {
    fill: $color-main;
  }

  &:not(:last-child) {
    margin-right: 22px;
  }
}

.social__icon {
  fill: #666666;

  &:hover {
    fill: $color-main;
  }
}
