.social {
  padding: 20px 0 21px 0;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;

  @media (min-width: $width-tablet) {
    padding: 0;
    border-bottom: none;
  }
}

.social__link {
  display: inline-flex;
  align-items: center;
  min-height: 22px;

  &:active {
    opacity: 0.3;
  }

  &:active .social__icon {
    fill: $color-main;
  }

  &:not(:last-child) {
    margin-right: 24px;
  }
}

.social__icon {
  fill: #666666;

  &:hover {
    fill: $color-main;
  }
}
