.switcher {
  @media (min-width: $width-tablet) {
    padding: 0 60px;
  }

  @media (min-width: $width-desktop) {
    padding: 0;
  }
}

.switcher__button {
  padding: 8px 6px;
  font-family: $font-secondary;
  color: $color-title;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;

  @media (min-width: $width-tablet) {
    padding: 6px 10px;
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    $width: 45px;
    content: "";
    position: absolute;
    bottom: 5px;
    left: calc(50% - $width / 2);
    width: $width;

    @media (min-width: $width-tablet) {
      border-bottom: 1px dotted #b8b8b8;
    }
  }

  &--before {
    margin: 0 12px 0 0;
  }

  &--after {
    margin: 0 0 0 12px;
  }
}

.switcher__button:hover {
  @media (min-width: $width-tablet) {
    &::after {
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.4);
    }
  }
}

.switcher__button:active {
  @media (min-width: $width-tablet) {
    &::after {
      border-bottom: none;
    }
  }
}

.switcher__images {
  margin: 0 0 15px 0;
  position: relative;
  width: 280px;
  height: 232px;

  @media (min-width: $width-tablet) {
    margin: 0 auto 33px auto;
    width: 592px;
    height: 500px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 24px;
  }
}

// https://codepen.io/josephwong2004/pen/NWRGxdR
.switcher__image-block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  @media (min-width: $width-tablet) {
    z-index: 0;
  }

  &--active {
    z-index: 0;
  }

  &--before {
    @media (min-width: $width-tablet) and (min-resolution: 2dppx) {
      background: url("../img/switcher/switcher-chubby-2x.webp") no-repeat;
    }

    @media (min-width: $width-tablet) and (resolution: 1dppx) {
      background: url("../img/switcher/switcher-chubby.webp") no-repeat;
    }

    @media (min-width: $width-tablet) {
      background-size: cover;
      background-position: top 0 left -7px;
      width: 50%;
      left: 0;
    }

    @media (min-width: $width-desktop) {
      background-position: 0 0;
    }
  }

  &--after {
    @media (min-width: $width-tablet) and (min-resolution: 2dppx) {
      background: url("../img/switcher/switcher-slim-2x.webp") no-repeat;
    }

    @media (min-width: $width-tablet) and (resolution: 1dppx) {
      background: url("../img/switcher/switcher-slim.webp") no-repeat;
    }

    @media (min-width: $width-tablet) {
      background-size: cover;
      background-position: top 0 right 8px;
      width: 50%;
      right: 0;
    }

    @media (min-width: $width-desktop) {
      background-position: top 0 right 8px;
    }
  }
}

.switcher__image {
  // display: none;
  height: 232px;

  @media (min-width: $width-tablet) {
    display: none;
  }
}

.switcher__range {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $width-tablet) {
    justify-content: space-between;
  }
}

.switcher__range-indicator {
  position: relative;
  width: 86px;
  height: 14px;
  background-color: #ffffff;
  border: 1px solid $color-example-borders-home;
  border-radius: 6px;

  &--before {
    &::before {
      position: absolute;
      top: 4px;
      left: 6px;
      display: inline-block;
      width: 37px;
      height: 6px;
      content: "";
      background-color: $color-main;
      border-radius: 6px;
    }
  }

  &--after {
    &::after {
      position: absolute;
      top: 4px;
      right: 6px;
      display: inline-block;
      width: 37px;
      height: 6px;
      content: "";
      background-color: $color-main;
      border-radius: 6px;
    }
  }

  @media (min-width: $width-tablet) {
    &--before::before,
    &--after::after {
      display: none;
    }

    margin: 14px 0;
    width: 100%;
    height: 6px;
    background-color: #dcdcdc;
    border: none;
  }
}

.switcher__range-slider {
  position: absolute;
  display: none;

  @media (min-width: $width-tablet) {
    padding: 13px;
    width: 34px;
    height: 34px;
    left: calc(50% - 34px / 2);
    top: calc(50% - 34px / 2);
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba($color: #000000, $alpha: 0.16);

    &::before {
      position: absolute;
      content: "";
      top: calc(50% - 8px / 2);
      left: calc(50% - 8px / 2);
      width: 8px;
      height: 8px;
      border-radius: 100%;
      display: inline-block;
      background-color: $color-main;
    }
  }

  &:hover {
    box-shadow: 0 2px 4px 0 rgba($color: #000000, $alpha: 0.19);
  }

  &:active {
    border: 1px solid $color-main;
    box-shadow: 0 3px 5px 0 rgba($color: #000000, $alpha: 0.2);
  }
}
