.title {
  margin: 0;
  padding: 0;
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $color-title;

  &--hero {
    color: #ffffff;

    @media (min-width: $width-tablet) {
      color: $color-title;
    }
  }

  &--pages {
    max-width: $container-mobile;
    margin: 0 auto;
    padding-top: 27px;
  }

  &--catalog {
    padding-bottom: 41px;
    margin-bottom: 8px;
  }

  &--form {
    margin-bottom: 37px;
  }

  @media (min-width: $width-tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}
