$container: 280px;

$color-main: #68b738;
$color-main-hover: #5eaa2f;
$color-secondary: #f2f2f2;

$color-header-background: rgba(104, 183, 56, 0.85);

$color-borders-main: #d9d9d9;
$color-borders-secondary: #ebebeb;
$color-example-home: #eaeaea;
$color-example-borders-home: #cdcdcd;
$color-location-title: #111111;
$color-more-title: $color-location-title;

$color-font: #444444;
$color-title: #000000;
$color-button: #ffffff;

$font-main: "Arial", sans-serif;
$font-secondary: "Oswald", sans-serif;
